$navbar-bg: #e3cb9f; // Beige background
$navbar-text-color: #000; // Black text
$navbar-hover-color: #333; // Darker hover color
$navbar-border-color: #c0a172; // Slightly darker shade for borders

$search-bg: #e7ddc9; // White search box background

$search-text-color: #777167; // Black text in search box
$search-border-color: white; // Black search border
$topbar-bg: #000; // Black top bar
$topbar-text-color: #fff; // White text

$slider-color: #513e3e;
$slider-bg: $search-bg;

// Spacing
$navbar-padding: 1rem;
$navbar-item-spacing: 1.5rem;
$search-padding: 0.5rem 1rem;
$logo-margin: 1rem 0;

// Fonts
$navbar-font: "Arial", sans-serif;
$navbar-font-size: 1rem;
$navbar-logo-size: 2rem;

$font-montserrat: "Montserrat", sans-serif;
$font-orbitron: "Orbitron", sans-serif;

// Icons
$icon-size: 1.2rem;

$page-padding: 0.4rem 13%;
